.button.twitter {
	background-image: url('img/twitter.png');
	background-color: blue;
}

p:nth-of-type(1) {
	margin-left: 100%;
}

p:nth-of-type(2) {
	margin-left: 50%;
}

p:nth-of-type(3) {
	margin-left: 33.33333%;
}

.post {
	padding: 1rem;
}

h1 {
	font-size: 3rem;
}

@media ( max-width: 75rem ) {

	h1 {
		font-size: 4vw;
	}
}

.icon-twitter {
	background: url('img/twitter.png');
}

.icon-facebook {
	background: url('img/facebook.png');
}

.icon-youtube {
	background: url('img/youtube.png');
}

.column {
	width: 33%;
	float: left
}

.another_column {
	width: 50%;
	float: left;
}

.column_calculated {
	width: 50%;
	float: left;
}

.menu {
	width: 100%;
}

.menu a {
	text-decoration: none;
}

.blue_button, .red_button {
	border-radius: 0.5rem;
	padding: 1em;
	border-width: 0.0625rem;
	border-style: solid;
}

.blue_button {
	border-color: #2F74D1;
	background-color: #3B8EFF;
}

.red_button {
	border-color: #C41A1E;
	background-color: #FF2025;
}